body {
  font-size: 0.12rem;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column; }

.header {
  font-size: 0.18rem;
  height: 0.44rem;
  line-height: 0.44rem;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #ccc; }

.content {
  -webkit-flex: 1;
  overflow-y: scroll;
    .top{
      width: 100%;
      height: auto;
      padding-top: 0.5rem;
        img{
          width: 1rem;
          height: auto;
          position: absolute;
          margin-left: 35%;
        }
        div{
          text-align: center;
          padding-top: 0.5rem;
          font-size: 0.18rem;
        }
    }
    p{
      border-bottom: 1px solid #ccc;
      padding: 0 0.1rem;
        img{
          height: 0.2rem;
          margin-top: 0.1rem ;
        }
        input{
          border:none;
          width: 91%;
          margin-left: 0.1rem;
          margin-bottom: 0.05rem;
        }
    }
    button{
      width: 90%;
      height:0.5rem;
      background: green;
      margin-left: 5%;
      border-radius: 0.05rem;
      border: none;
      margin-top: 0.1rem;
      color: #fff;
      font-size: 0.14rem;
    }
}

.footer {
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  border-top: 1px solid #ccc; }


